<h1>Edit project</h1>

<form id="edit-project" name="project">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value=<%= title %> >
  </div>
	<input type="text" name="cover" id="cover" value="<%= logo %>">


  <div class="actions">
    <input type="submit" value="Update Project" />
  </div>

</form>

