<section class="upload_custom_bg <%= 'hidden' unless visible %> upload_image_section" id="update_custom_background">
		<div class="first col">
			<figure>
				<%= render 'custom_backgrounds/thumbnail', :background => background %>
			</figure>
			<div id="upload_custom_bg_links" class="upload_custom_bg_links">
				<%= link_to "Edit your background", edit_custom_background_path(background) , :class => "icon_link edit_link iframe_fancy" %>
				
				<a class= href="#"></a>
				<!--<a class="icon_link remove_link hidden" href="#">Remove</a> -->
			</div>
		</div>
		<div class="col">
			<a id="upload_custom_bg" href="#" class="upload_btn btn">Upload</a>
			<p class="information">Ideal dimension: 1024 px x 768 px – JPG, PNG formats</p>
		</div>
</section>
<%= form.hidden_field :custom_background_id %>
