<div class="<%= 'hidden' unless visible %>" id="update_pattern_background">
			<p class="description"> Click <em>boxes</em> to customize</p>
			<ul>
			<li>
				<div class="color_picker panel" id="own_color_picker">
					<div style="background-color: #bccc08"></div>
					<input type="hidden" id="own_color_picker_input" value="bccc08" ></input>
				</div>
			</li>
			<li class="text">&</li>
			<li>
				<div class="pattern panel">
				</div>
				+
				<div id="pattern_preview" class="pattern_preview panel" style="background-color: #bccc08">
				</div>
			</li>
			<li  class="text">
				=
			</li>
			<li>
				<div id="final_preview" class="preview panel" style="background-color: #bccc08;" >
				</div>
			</li>
		</ul>
</div>