<aside id="sidebar" class="sidebar" role="sidebar">
	<%= render 'portfolios/actions_menu' %>
	<div class="separator">
			<%= image_tag('../images/dots.png'); %>
	</div>
	<section id="video_guide" class="hidden">
		<header>
				<h1>Watch Demo</h1>
		</header>
		<figure class="first">
			<%= image_tag('../images/video_help_sample_thumb.png'); %>
			<figcaption>How to change a background image</figcaption>
		</figure>
		<figure class="last">
			<%= image_tag('../images/video_help_sample_thumb.png'); %>
			<figcaption>What is a theme?</figcaption>
		</figure>
	</section>
	
</aside>
