<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @document_block.title %>
</p>


<%= link_to 'Edit', edit_document_block_path(@document_block) %> |
<%= link_to 'Back', document_blocks_path %>
