<h1>Edit Font</h1>
<form id="edit-portfolio" name="portfolio">
  <div class="field">
    <label for="layout"> font:</label>
    <input type="text" name="layout" id="layout" value=<%= layout %> >
  </div>

  <div class="field">
    <label for="theme"> theme:</label>
    <input type="text" name="theme" id="theme" value=<%= theme %> >
  </div>

  <div class="actions">
    <input type="submit" value="Update Portfolio" />
  </div>
</form>