<h1>Listing portfolios</h1>

<table id="portfolios-table">
  <tr>
    <th>Layout</th>
    <th>Theme</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Portfolio</a>