<div class="element">
  <img src="/images/video.jpg" >
</div>
<p>
Uploaded video
</p>
<p class="fltrt">
  <%= link_to "Edit", edit_gallery_video_path(video) %>
  <%= link_to "Remove", gallery_video_path(video), :method => :delete %>
  <a href="#" class="drag_icon"></a>
</p>