<fieldset id="project_title">
  <span class="order">1</span>
	<div class="inner">
  	<legend>Add content</legend>
    <p class="description">Choose from the following content elements. Add as many different types of content to your project as you desire.</p>
		<section id="add_project_content">
			<ul>
				<li><a href="#add_writing_section">Writing</a></li>
				<li><a href="#add_media_section">Photos & Videos</a></li>
				<li><a href="#add_files">Attached Documents</a></li>
			</ul>
			<section id="add_writing_section">
				 <input type="text" placeholder="Please insert a title..." />
				 <textarea class="richtextarea">
				 </textarea>
				 <footer>
						<input type="button" class="btn" value="Cancel"></input>
						<input type="submit" class="btn" value="Save writing"></input>
					</footer>
			</section>
			<section id="add_media_section">
				<input type="text" placeholder="Give your gallery a catchy title..." />
				<ul>
					<li><a href="#">Add photo</a></li>
					<li><a href="#">Add video</a></li>
				</ul>
				<ul>
					<li>
						<a href='#'><img src="http://placeholder.net/104/62"></img></a>
						<a href="#">Edit</a>
						<a href="#">Remove</a>
					
					
				</ul>
			</section>
			<section id="add_files">
			
			</section>

	</div>
</fieldset>
	