<h2> VIEW PORTFOLIO</h2>

<div> Portofilo id: <%= @portfolio.id %> </div>

<ul>
  <li> layout: <%= @portfolio.layout || "-" %> </li>
  <li> theme: <%= @portfolio.theme || "-" %> </li>
  <li> font: <%= @portfolio.font || "-" %> </li>
</ul>
