<fieldset id="layout_field" style="<%= 'margin-top:-140px;' if @portfolio.has_predefined_background? %>">
	<div class="order">2</div>
	<legend>Layout</legend>
	<p class="description">Select from the following layouts.</p>
	<div  class="field box layout_field">
		<ul class="horizontal_list">
				<% @layouts.each do |layout| %>
					<li>
						<a id="layout_link_<%= layout.name %>" data-id='<%= layout.id %>' href="#" 
							class="image_link <%= 'selected' if @portfolio.layout == layout  %>">
							<span class="image_overlay"></span>
						</a>
					</li>
				<% end %>
		</ul>
	</div>
</fieldset>