<%= image_preview background.image, :fallback => '../images/fallback/custom_background_default.jpg',  %><div id="upload_custom_bg_links" class="edit_image_links"><% if background.image.uploaded? %><%= link_to "Edit your background", 
		edit_custom_background_path(background),:class => "icon_link edit_link iframe_fancy" %><!--<%= link_to "Remove", 
				remove_upload_custom_background_path(background, :format => 'js'), :remote=>true, :id => 'remove_custom_background_btn' , :class => "hidden icon_link remove_link", :confirm => "Are you sure?" %>!--><% end %></div>