<section id="edit_photo_section">
  <%= form_for(@photo, :url => gallery_photos_path(@gallery)) do |f| %>
   <%= f.hidden_field :gallery_id %>
  <header>
  	  <h1 class="plus"><strong>Add</strong> a photo to your gallery</h1>
  </header>
  <div class="content">
    <p class="ta1">
       <%= f.text_area :caption, :placeholder => "Photo caption (optional) ...", :cols => 5, :row =>5 %>
    </p>
    
  </div>
  <footer>
    <a href="#" class="btn-1" id="save_photo" ><span><strong>Save</span></strong></a>
  </footer>
  <% end %>
</section>
