<section id="edit_photo_section" class="edit_photo_section">
  
  
  <header>
  	  <h1 class="plus"><strong>Add</strong> a photo to your gallery</h1>
  </header>
  <section class="upload_image_section">
      <a id="upload_custom_bg" href="#" class="upload_btn btn">Upload</a>
  </section>
  <section id="uploaded_image_form">
    <% if !@photo.new_record?  %>
      <%= render 'image_form' %>
    <% end %>
  </section>
 
</section>
<%= photo_uploadify "#upload_custom_bg", nil, upload_gallery_photos_path(@photo.gallery.id, :format => :js), 'image[image]' %>