<p class="left bg2">
  <%= gallery.title %> 
</p>
<p class="right">
  <%= link_to "Edit", edit_gallery_path(gallery) %>
  <%= link_to "Remove", gallery_path(gallery), :method => :delete %>
  <a href="#" class="drag_icon"></a>                                
</p>