@import "mixins";

.horizontal_list{
  @include horizontal-list-container;
  li{
    @include horizontal-list-item;
    margin: 0;
    padding: 0;
  }
}

.description{
  color: $grey-color;
  font-style: italic;
}
.edit{
  @include column(18, true);
  width: 745px;
  form{
    padding: span(1) - 10px ;
  }
}
.hidden{
  display: none;
}

.cover_background{
  @include background-size(cover);
}
/*** BOUTONS **/
.btn{
  background: url('images/blue_btn_bg.png') repeat-x;
  @include border-radius;
  border: 1px solid #44535d;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  @include link-colors(white, white);
  text-align: center;
  padding: 0 15px;
}


.number{
  color: $pink-color;
  
}

/***** LINKS ****/
.icon_link{
  padding-left: 30px;
  line-height: 16px;
  display: block;
}
.edit_link{
  background: transparent url('images/edit_icon.png') no-repeat left 0%;
}
.remove_link{
  background: transparent url('images/remove_icon.png') no-repeat left 50%;
}
.more_link{
  background: transparent url('images/remove_icon.png') no-repeat left 50%;
}
/**** BOXES AND FRAMES ***/
.box{
  @include box;
  padding: 18px 10px 19px 10px;
  position: relative;
  margin-top: 10px;
  .selection_list{
     @include clearfix;
     @include horizontal-list-container;
     li{
       @include horizontal-list-item;
     }
     .select_loading_overlay{
       background: url('images/ajax_loader_1.gif') no-repeat 50% 50%;
       display: none;
       opacity:1;
       filter: alpha(opacity=100);
       display: none;
       position: absolute;
       top: 0;
       width: 110px;
       height: 110px;
     }
   }
}
