@import "mixins";

.horizontal_list{
  @include horizontal-list-container;
  li{
    @include horizontal-list-item;
    margin: 0;
    padding: 0;
  }
}

.description{
  color: $grey-color;
  font-style: italic;
}
.left{
  float: left;
}
.right{
  float: right;
}

.hidden{
  display: none;
}
.panel{
  display: block;
}
.error{
  color: $error-color;
}
form .error{
  margin: 0;
  border: 0px;
  background: none;
}
input, textarea{
  color: $input-text-color;
}
.iviewer
{
    width: 165px;
    height: 165px;
     @include box-shadow(0 0 5px rgba(#000, 0.1) );
     border: 1px solid #b4b4b4;
    position: relative;
}
.stretch_background{
  @include background-size(cover);
  background-repeat: repeat ;
}
.original_background{
  @include background-size(none);
  background-repeat: repeat;
}
.tile_background{
  @include background-size(none);
  background-repeat: repeat;
}

/*** BOUTONS **/
.btn{
  background: url('../images/blue_btn_bg.png') repeat-x;
  @include border-radius;
  border: 1px solid #44535d;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  @include link-colors(white, white, white, white, white);
  text-align: center;
  padding: 0 15px;
  &:hover{
    @include opacity(0.96);
  }
}
.styled_text_field{
  input{
      margin:0;
      padding:0;
      border:0;
      outline:none;
      background:none;
      &:focus{
        border: 0;
      }
  }
}
.styled_text_area{
  background: url(../images/text_area_bg.png) no-repeat left top;
  width: 591px;
  height: 215px;
  textarea{
     margin:0;
     padding:0;
      border:0;
      outline:none;
      background:none;
      &:focus{
        border: 0;
      }
  }
}
.styled_text_field.tb1 {
    width:553px;
    height:20px;
    padding:12px 20px;
    background:url(../images/tb1.png) no-repeat left top;
    input{
      width:553px;
      height:20px;
    }
}
.styled_text_field.tb2{
  width: 570px;
  height: 20px;
  padding: 12px 15px;
  background:url(../images/tb2.png) no-repeat left top;
  input{
    width:553px;
    height:20px;
  }
}
.styled_text_field.tb2-2 {background:url(../images/tb2-2.png) no-repeat left top;}

.styled_text_field.tb3 {
  width: 339px;
  height: 20px;
  padding: 12px 15px;
  background: url(../images/tb3.gif) no-repeat left top;
  input{
    width: 339px;
    height: 20px;
  }
}



.styled_text_field.tb4{
  background: url(../images/tb4.gif) no-repeat left top;
  padding: 12px 15px;
  width: 404px;
  height: 20px;
  input{
    width: 404px;
    height: 20px;
  }
}
.styled_text_field.tb5{
  width: 291px;
  height: 19px;
  padding: 8px 10px;
  input{
    width: 291px;
    height: 19px;
    color: #BBB;
  }
}

.wysiwyg-input{
  width: 595px;
  height: 180px;
  padding: 0 10px;
}
.wysiwyg{
  width: 591px;
  .toolbar {
    li{ 
      float: left;
      text-indent: -5000px;
      opacity: 0.85;
      filter: alpha(opacity=85);
      display: block;
      width: 34px;
      height: 33px;
      background: url('../images/wysiwig_toolbar_bg.png') no-repeat;
      cursor: pointer;
      margin: 0px;
      &:hover{
        background: url('../images/wysiwig_toolbar_bg_hover.png') no-repeat;
      }
      &.bold{
        background-position: 0 0;
      }
      &.italic{
        background-position: -33px 0;
      }
      &.underline{
        background-position: -66px 0;
      }
      &.insertOrderedList{
        background-position: -99px 0;
        width: 46px;
      }
      &.insertUnorderedList{
        background-position: -145px 0;
        width: 42px;
      }
      &.indent{
        background-position: -185px 0;
        width: 42px;
      }
      &.outdent{
        background-position: -227px 0;
        width: 42px;
      }
      &.quote{
        background-position: -269px 0;
        width: 42px;
      }
      &.justifyLeft{
        background-position: -314px 0;
        width: 42px;
      }
      &.justifyCenter{
        background-position: -353px 0;
        width: 42px;
      }
      &.justifyRight{
        background-position: -395px 0;
        width: 42px;
      }
      &.separator{
        display: none;
      }
    }
    
  }
}
/*--- Custome Input Browse ---*/
.browse-but {
    position:relative;
    width: 369px;
    height: 44px;
    overflow:hidden;
}
.si-files-stylized label.cabinet {
    height: 44px;
    clear:both;
    top:0;
    position:absolute;
    width: 369px;
    background:url(../images/but-browse.gif) no-repeat left top;
    
}
.si-files-stylized label.cabinet input.file {
    position: relative;
    height: 100%;
    width: auto;
    cursor: pointer;
}
#fileinput_wrap_list {
    position:absolute;
    z-index:9999999
}
.MultiFile-label {
    position:absolute;
    left:10px;
    top:-25px;
    width: 270px;
    overflow:hidden;
    line-height:46px;
}
.MultiFile-label a { display:none}

/*--- Custom Checkbox Buttons ---*/
/*--- Custom Radio Buttons ---*/
.checkbox {
	width: 27px;
	height: 17px;
	display: block;
	clear: left;
	float: left;
	background: url(../images/radio.gif) no-repeat;
}
/*--- Custom Check Box ---*/
.check1 .checkbox,
.check2 .checkbox {
	width: 113px;
	height: 69px;
	display: block;
	float: left;
	margin:0 7px 0 0;
}
.check1 .checkbox {	background:url(../images/checkbox1.gif) no-repeat left top; }
.check2 .checkbox {	background:url(../images/checkbox2.gif) no-repeat left top; }


.ta1 {
  width: 435px;
  height: 40px;
  padding: 15px;
  margin: 22px 0;
  background: url(../images/ta1.png) no-repeat left top;
  textarea{
    width: 435px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #7C7C7C;
  }
}



///BUTONS 

.btn-1{
  height: 41px;
  float: right;
  line-height: 41px;
  padding: 0 0 0 5px;
  background: url(../images/bg-button-type1-left.png) no-repeat left top;
  font-size: 16px;
  font-style: italic;
  @include link_colors(white, white, white, white);
  span{
    padding: 0 5px 0 0;
    background: url(../images/bg-button-type1-right.png) no-repeat right top;
   
  }
  strong{
    background: url(../images/bg-button-type1-center.png) repeat-x left top;
    padding: 0 30px;
  }
  span, strong{
     float: left;
      height: 41px;
  }
}
.btn-2{
  @include link_colors(white, white, white, white);
  height: 42px;
  float: right;
  line-height: 41px;
  padding: 0 0 0 6px;
  background: url(../images/bg-button-type2-left.png) no-repeat left top;
  font-size: 16px;
  color: white;
  margin: 0 11px 0 0;
  span {
      padding:0 6px 0 0;
      background:url(../images/bg-button-type2-right.png) no-repeat right top;
  }
  strong {
      background:url(../images/bg-button-type2-center.png) repeat-x left top;
      padding:0 30px;
  }
  span,
  strong{
      float:left;
      height:42px;
  }
 
}

.number{
  color: $pink-color;
  
}
.upload_image_section{
  figure {
    img{
      @include box-shadow(0 0 5px rgba(#000, 0.1) );
      border: 1px solid #b4b4b4;
    }
  }
  .col.first{
    @include column(5);
    width: 164px;
    margin-right: 20px;
  }
  .col{
    @include column(10, true);
  }
}


/***** LINKS ****/
.icon_link{
  padding-left: 30px;
  line-height: 16px;
  display: block;
}
.edit_link{
  background: transparent url('../images/icon-edit.gif') no-repeat left 0%;
}
.remove_link{
  background: transparent url('../images/icon-x.png') no-repeat left 50%;
}
.more_link{
  background: transparent url('../images/remove_icon.png') no-repeat left 50%;
}
/**** BOXES AND FRAMES ***/
.box{
  @include box;
  padding: 18px 10px 19px 10px;
  position: relative;
  margin-top: 10px;
  .selection_list{
     @include clearfix;
     @include horizontal-list-container;
     li{
       @include horizontal-list-item;
     }
     .select_loading_overlay{
       background: url('images/ajax_loader_1.gif') no-repeat 50% 50%;
       display: none;
       opacity:1;
       filter: alpha(opacity=100);
       display: none;
       position: absolute;
       top: 0;
       width: 110px;
       height: 110px;
     }
   }
}

/** JQUERY UI **/
.ui-tabs-hide{display: none}

.drag_icon{
  width: 30px;
  height: 30px;
  padding: 0;
  background: url(../images/icon-1.png) no-repeat center center !important;
}