.iviewer_common {
    position:absolute;
    bottom:10px;
    border: 1px  solid #000;
    height: 28px;
    z-index: 5000;
    display: none;
}

.iviewer_cursor {
    cursor: move;
}

.iviewer_drag_cursor {
    cursor: move;
}

.iviewer_button {
    width: 28px;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
}

.iviewer_zoom_in {
    left: 20px;
   
}

.iviewer_zoom_out {
    left: 55px;

}

.iviewer_zoom_zero {
    left: 90px;
    
}

.iviewer_zoom_fit {
    left: 125px;
}

.iviewer_zoom_status {
    left: 160px;
    font: 1em/28px Sans;
    color: #000;
    background-color: #fff;
    text-align: center;
    width: 60px;
}
