@mixin has_image_overlay($width, $height){
  position: relative;
  overflow: hidden;
  &:hover{
    .image_overlay{
       @include opacity(0);
    }
  }
  .image_overlay{
    background: white;
    position: absolute;
    @include opacity(0.2);
    display: block;
    top: 0;
    left: 0;
    width: $width;
    height: $height;
  }
}
@mixin fancy-border-bottom($border-color: $default-border-color, $shadow-color: $default-box-shadow-color ){
   border-bottom: 1px solid $border-color;
   @include single-box-shadow($shadow-color, 0px, 1px, 0px, false, false);
}
@mixin fancy-border-top($border-color: $default-border-color, $shadow-color: $default-box-shadow-color  ){
   border-top: 1px solid $border-color;
   @include single-box-shadow($shadow-color, 0px, -1px, 0px, false, false);
}
@mixin fancy-box-shadow(){
   @include box-shadow(rgba(#ffffff, 0.85) 0 0 1px, rgba(#000000, 0.3) 0 0 1px 1px inset);
}

@mixin box{
  border: 1px solid #cad8de;
  @include box-shadow(rgba(white, 0.5) 0 0 1px, rgba(#000000, 0.1) 0 0 1px 1px inset);
  @include border-radius(5px);
  background: #ebebeb;
}