// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$pink-color             : #ec5f89;
$blue-color             : #5b6f7b;
$grey-color             : #757575;

$font-color             : #444444;
$link-color             : $blue-color ;


$blueprint-grid-columns : 24;
$blueprint-grid-width   : 30px;
$blueprint-grid-margin  : 10px;


$default-box-shadow-color: #CCC;
$default-box-shadow-blur: 3px;

//Text-shadow
$default-text-shadow-color: white;
$default-text-shadow-blur : 1px;

$font-family-primary: 'Calibri', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$font-family-secondary: 'Alternate Gothic LT Two', Helvetica;

@import "blueprint";

@import "compass/reset";
@import "compass/layout/grid-background";
@import "compass/layout/sticky-footer";

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

@import "compass/typography/links";
@import "compass/typography/lists/horizontal-list";

@mixin fancy-border-bottom($border-color: #e1e1e1){
   border-bottom: 1px solid #e1e1e1;
   @include single-box-shadow(white, 0px, 1px, 0px, false, false);
}

@mixin box{
  border: 1px solid #cad8de;
  @include box-shadow(rgba(white, 0.5) 0 0 1px, rgba(#000000, 0.1) 0 0 1px 1px inset);
  @include border-radius(5px);
  background: #ebebeb;
}

body{
 
   background: #f2f2f2 url('images/grid_bg.png') repeat;
   font-family: $font-family-primary;
   line-height: 1.3em;
}
a{
  outline: none;
  @include hover-link;
  @include link-colors(#00c, #0cc, #c0c, #ccc, #cc0)
}
#wrapper{
  background: transparent url('images/header_bg.png') repeat-x;
}

#header{
  width: 100%;
  @include container;
  #toolbar{
    height: 25px;
    line-height: 23px;
    font-size: 12px;
    color: #bbcad3;
    font-style: italic;
    a{
      font-style: normal;
      @include link-colors(#FFF);
      
      display: block;
      height: 24px;
    }
    ul{
      @include horizontal-list-container;
      li{
         @include horizontal-list-item(0px);
      }
    }
    .secondary_links{
      float: left;
      a{
        padding: 0 10px 0 9px;
        background: transparent url('images/toolbar_border_bg.png') no-repeat right;
      }
    }
    .login_links{
      float: right;
      
    }
  }
  #logo{
    text-align: center;
  }
  #title{
    @include text-shadow;
    color: #72828c;
    font-weight: normal;
    font-size: 21px;
    margin: 10px 0;
    em{
      color: #5c707c;
      font-style: normal;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

#main_nav{
   @include box-shadow;
    background:#e7e7e7 url('images/nav_bg.png') repeat-x;
    $height: 39px;
    height: $height;
    @include container;
    
    ul{
      
      @include horizontal-list-container;
      li.first{
        a{
          width: span(5) + 4px;
          &.active{
            border-left: 1px solid #eb5f89;
          }
        }
        
      }
      li{
        @include horizontal-list-item;
        a{
          height: $height - 2px;
          line-height: $height;
          display: block;
          border-right: 1px solid #c9c8c8;
          width: span(5) + 3px;
          text-align: center;
          @include link-colors(#a8a8a8);
          text-transform: uppercase;
          font-size: 24px;
          font-family: $font-family-secondary;
          &:hover{
            text-decoration: none;
          }
        }
        
      }
      li.active a{
        background:$pink-color    url('images/nav_bg_selected.png') repeat-x;
        @include link-colors(#FFF);
        @include text-shadow(0);
      }
      li.secondary{
        a{
           width: span(2) - 5px ;
           color: $pink-color;
           text-transform: none;
           font-size: 17px;
           font-style: italic;
           font-family: $font-family-primary;
        }
      }
      li.last{
        
      }
    }
}
#main{
  @include container;
  width: span(24) - 2px;
  margin-top: -2px;
  border: 1px solid #c3d4db;
  
  border-top: 0;
  background: #f2f2f2 url('images/main_bg.png') repeat-y;
  @include border-bottom-right-radius(4px);
  @include border-bottom-left-radius(4px);
  @include box-shadow;
  @include clearfix;
   padding-bottom: 500px;
}

#sidebar{
  @include column(5);
  #portfolio_menu{
    margin-top: 40px;
    a{
      height: 40px;
      line-height: 40px;
      margin: 0 -3px;
     
      text-align: center;
      display: block;
      @include fancy-border-bottom;
      @include link-colors(#757575);
      &.active{
       font-style: italic;
       font-weight: bold;
       background: #ededed;
       @include link-colors($blue-color);
     }
     &.last{
       border-bottom: 0;
       @include single-box-shadow(false, 0, 0, 0);
     }
    }
    .active {
      ul{
        display: block;
      }
    }
  }
  .separator{
    text-align: center;
    margin: 20px 0;
  }
  section{
    color: $grey-color;
    padding-bottom: 20px;
    text-align: center;
    font-size: 14px;
    header h1{
      font-size: 24px;
      text-transform: uppercase;
      color: $blue-color;
      font-family: $font-family-secondary;
      margin-bottom: 10px;
    }
  } 
  #video_guide{
    margin: 0 auto;
  
    figure{
     padding: 10px 0;
     @include fancy-border-bottom;
     figcaption{
         width: 140px;
         margin: 0 auto;
     }
    }
    figure.last{
      border-bottom: 0;
      @include single-box-shadow(false, 0, 0, 0);
    }
  }
  
}
#edit{
  @include column(18, true);
  width: 745px;
  form{
    padding: span(1) - 10px ;
  }
}
#preview_wrapper{
  position: fixed;
  width: 100%;
}
#preview{
  background: white;
  height: 100%;
}
#separator{
  background: transparent url('images/sep_bg.png') repeat-x;
  height: 15px;
  width: 100%;
  margin-top: -5px;
 
  @include fancy-border-bottom;
  @include single-box-shadow( rgba(0, 0, 0, 0.1) );
  text-align: center;
  padding-top: 3px;
  #dragger{
    cursor: move;
  }
}

form {
  fieldset{
    position: relative;
    padding-left: span(1);
    .order{
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      margin-top: -15px;
      margin-left: -40px;
      background: transparent url('images/circle_bg.png') repeat-x;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: white;
    }
    legend{
      color: $grey-color;
      font-weight: bold;
      text-transform: uppercase;
    }
    .description{
       color: $grey-color;
       font-style: italic;
    }
  }
}
.background_field{
  margin-top: 10px;
  @include box;

  width: 620px;
  padding: 18px 10px 19px 10px;
  position: relative;
  border-right:0;
  @include border-bottom-right-radius(0px);
  @include border-top-right-radius(0px);
  .selection_list{
    @include clearfix;
  }
  .select_bg_overlay, .select_loading_overlay{
    background: url('images/pf_bg_sele.png') no-repeat;
    display: none;
    position: absolute;
    width: 110px;
    height: 110px;
    top: 0;
    opacity: 0.8;
    filter: alpha(opacity=80); 
  }
  .select_loading_overlay{
    background: url('images/ajax_loader_1.gif') no-repeat 50% 50%;
    display: none;
    opacity:1;
    filter: alpha(opacity=100);
  }
  .custom_bg, li{
    @include column(3);
    margin-right: 15px;
    text-align: center;
    position: relative;
    &.selected{
      .selection_title{
        font-weight: bold;
      }
      .select_bg_overlay{
        display: block;
      }
    }
    .selection_title{
      color: #4d4d4d;
      font-size: 15px;
      padding-top: 10px;
      display: block;
    }
  }
  .select_bg{
    opacity: 0.8;
    &:hover{
      opacity:1;
     
    }
  }
  .jcarousel-clip-horizontal{
    width: 490px;
  }
  #add_custombg_btn{
    background: url('images/big_cirle_bg.png') no-repeat;
    display: block;
    width: 110px;
    height: 75px;
    padding: 35px 0 0;
    font-size: 24px;
    text-align: center;
    color: white;
    font-family: $font-family-secondary;
    @include text-shadow;
    &:hover{
      text-decoration: none;
      background: url('images/big_cirle_bg_sel.png') no-repeat;
    }
  }
  .select_bg{
    @include border-radius;
    display: block;
    width: 110px;
    height: 110px;
    border: 1px solid #ccc;
    @include single-box-shadow(rgba(#c0c0c0, 0.5), 0px, 1px);
  }
  .scroll{
     position: absolute;
     right: 0;
     top: 0;
     margin-right: -28px;
     margin-top: -1px;
     $height: 184px;
     height: $height;
     width: 28px;
     a{
       display: block;
       height: $height / 2;
       width: 28px;
       background: url('images/bg_scroll_bg.png') no-repeat;
       &:hover{
         background: url('images/bg_scroll_bg_sel.png') no-repeat;
       }
     }
     .left_scroll, .left_scroll:hover{
       background-position: 0 0;
     }
     .right_scroll, .right_scroll:hover{
       background-position: left -94px;
     }
   }
}

