// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@import "mixins";

.edit_project{
  header{
    margin: 0;
  }
  >form {
    width: 640px;
    margin: 20px;
    margin-left: 50px;
    padding: 0px !important;
    @include border-radius(10px);
    @include fancy-border;
  }
  .upload_image_section{
    margin-top: 10px;
  }
  fieldset{
    margin: 10px 0;
    @include fancy-border-bottom;
    padding: 5px 20px 20px ;
    .order{
      margin-left: -45px;
    }
    legend{
      margin-top: 15px;
    }
    &.last{
      border-bottom: 0px;
      box-shadow: 0 0 0;
    }
  }
  figure#cover{
    width: 165px;
    .preview_uploaded_image{
      max-width: 165px;
      max-height: 165px;
    }
  }
  .tabs{
    li{
      a{
          background: #e9e9e9;
          display: block;
          width: 320px;
          height: 60px;
          line-height: 60px;
          text-indent: 20px;
          font-size: 1.1em;
          @include fancy-border-bottom;
          &.active{
             border-bottom: 0px;
             @include single-box-shadow(0, 0, 0, 0);
             @include unstyled-link;
             color: $pink-color;
             background: transparent;
          }
          &.left{
            @include fancy-border-right;
            width: 319px;
          }
          &.right{
            @include border-top-right-radius(4px);
          }
         
      }
      
    }
  }
  .access_toolbar{
    margin-top: 20px;
  }
  .access_toggle{
     cursor: pointer;
     display: block;
     height: 53px;
     @include link_colors($grey-color);
     padding-left: 40px;
     line-height: 40px;
     width: 120px; 
     font-weight: bold;
     &.selected{
       @include unstyled-link;
       color: white;
     }
     
  }
  #send_invites{
    margin-right: 0px;
    margin:20px 0 0 160px;
  }
  #private_project {
    .left.col{
      @include column(9);
      input{
        width: 290px;
      }
    }
    .right.col{
       @include column(6, true);
    }
    
  }
  
}
#private_project_btn{
  background: url('images/limited_access_bg.png') no-repeat;
  height: 53px;
  &.selected{
    background: url('images/limited_access_bg_sel.png') no-repeat;
  }
 
}
#public_project_btn{
  background: url('images/limited_access_bg.png') no-repeat;
  &.selected{
    background: url('images/public_access_bg_sel.png') no-repeat;
  }
}