// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@import "mixins";

.edit_project_section{
  margin-top: 40px;
  header{
    margin-left: 50px;
    .tabs{
      width: 649px;
      height: 58px;
      line-height: 56px;
      padding: 2px 2px 0 2px;
      background: url(../images/bg-tabs1.gif) no-repeat left top;
      li{
         &.ui-tabs-selected{
           a{
              border-bottom: 0px;
              @include single-box-shadow(0, 0, 0, 0);
              @include unstyled-link;
              color: $pink-color;
              background: transparent;
           }
        }
        a{
            background: #e9e9e9;
            display: block;
            width: 324px;
            height: 57px;
            line-height: 57px;
            text-indent: 20px;
            font-size: 1.1em;
            @include fancy-border-bottom;
            &.left{
              @include fancy-border-right;
              width: 323px;
            }
            &.right{
              @include border-top-right-radius(4px);
            }
        }
    }
  }
  

  >form {
    width: 640px;
    margin: 20px;
    margin-left: 50px;
    padding: 0px !important;
    @include border-radius(10px);
    @include fancy-border;
    > footer{
      margin-bottom: -60px;
      text-align: right;
      
      
    }
  }

  .inner{
    margin-left: 20px;
  }
  .upload_image_section{
    margin-top: 10px;
  }
 
 
  figure#cover{
    width: 165px;
    .preview_uploaded_image{
      max-width: 165px;
      max-height: 165px;
    }
  }
  
  }
  .access_toolbar{
    margin-top: 20px;
  }
  .access_toggle{
     cursor: pointer;
     display: block;
     height: 53px;
     @include link_colors($grey-color);
     padding-left: 40px;
     line-height: 40px;
     width: 120px; 
     font-weight: bold;
     &.selected{
       @include unstyled-link;
       color: white;
     }
     
  }
  #send_invites{
    margin-right: 0px;
    margin:20px 0 0 160px;
  }
  .submit{
     margin: 20px 20px;
   }
  
}
.edit_project_tab_section{
   border-right: 2px solid #DBDBDB;
   border-left: 2px solid #DBDBDB;
   background: #F2F2F2;
   margin-left: 50px;
   width: 649px;
    fieldset{
      padding: 20px;
      margin: 0;
      @include fancy-border-bottom;
       
      legend{
          margin-top: 0;
      }
      &.last{
         @include fancy-border-bottom;
      }
    }
   form{
     padding:0;
     margin: 0;
    
     footer{
         width: 100%;
         height: 40px;
         
         padding: 10px 0; 
         
     }
   }
   p{
    margin-top: 10px;
   }
}
.private_project_btn{
  background: url('../images/limited_access_bg.png') no-repeat;
  height: 53px;
  &.selected{
    background: url('../images/limited_access_bg_sel.png') no-repeat;
  }
 
}
.public_project_btn{
  background: url('../images/limited_access_bg.png') no-repeat;
  &.selected{
    background: url('../images/public_access_bg_sel.png') no-repeat;
  }
}
.invitation_text_fields{
  .top{
    width: 312px;
    height: 5px;
    margin: 0 0 -3px 0;
    background: url(../images/top1.gif) no-repeat left top;
  }
  .bottom{
    width: 312px;
    height: 5px;
    margin: -2px 0 5px 0;
    background: url(../images/bottom1.gif) no-repeat left top;
  }
}
.private_project_section {
   .left.col{
     @include column(9);
     input{
       width: 290px;
     }
   }
   .right.col{
      @include column(6, true);
     
        color: #53646F;
     
   }
   
 }
.add_project_content{
  
  .tabs1{
    width: 100%;
    height: 72px;
    clear: both;
    overflow: hidden;
    li{
      text-align: center;
      line-height: 43px;
      font-size: 16px;
      font-weight: bold;
      padding: 0 9px 0 0;
      &.last{padding:0; a{ margin-right: 0}}
      a{
        width: 192px;
        height: 55px;
        float: left;
        color: #5D5D5D;
        background: url(../images/bg-tabs2.png) no-repeat;
        background-position: 0 0;
        margin-right: 5px;
      }
      &.ui-state-active a, & a:hover{
       
          background-position:0 -55px;
          color:#fff;
       
      }
     
    }
  }
  
}
.preference_link{
   background-repeat: no-repeat;
    width: 113px;
    height: 69px;
    display: block;
    float: left;
    margin: 0 7px 0 0;
}
.mosaic_link{
  background-image: url(../images/checkbox1.gif);
  background-position: 0 0;
  &:hover{
    background-position: 0 -69px;
  }
  &.selected{
     background-position: 0 -138px;
  }
}
.slideshow_link{
  background-image: url(../images/checkbox2.gif);
 
  background-position: 0 0;
  &:hover{
    background-position: 0 -69px;
  }
  &.selected{
     background-position: 0 -138px;
  }
}
.gallery_section{
  .field{
    margin-top: 20px;
  }
  .actions{
    margin-top: 70px;
  }
  
  
}
.add-buttons {
    clear:both;
    overflow:hidden;
    width:100%;
    padding:30px 0 15px 0;
    text-align:center;
    line-height:44px;
    a {
        display: block;
        float: left;
        width:288px;
        height:44px;
        color:#53646f;
        background:url(../images/add-buttons.gif) no-repeat;
        background-position:0 0;
        &.first{
          margin-right: 20px;
        }
        &:hover {
            background-position:0 -44px;
            color:#fff;
        }
    }
    p {
      color: #ED6E94;
    }
}
.organize-list {
  clear: both;
  overflow: hidden;
  li{
    width:594px;
    height:44px;
    clear:both;
    line-height:44px;
    background:url(../images/bg-organize-list.png) no-repeat left top;
    p{
    margin-top: 0;
     &.bg1{
       background: url(../images/bg1.png) no-repeat left top;
     } 
     &.bg2{
       background: url(../images/bg2.png) no-repeat left top;
     }
     &.bg3{
        background: url(../images/bg3.png) no-repeat left top;
     }
    }
  }
  .left{
    padding: 0 0 0 20px;
  }
  .right {
    padding: 7px 2px 0 0;
    line-height: 30px;
    a {
      padding: 0 15px 0 12px;
      height: 30px;
      float: left;
      color: #5D5D5D;
      background: url(../images/bg-organize-list-devider.gif) repeat-y right top;
    }
  }
}
.gallery_section{
  .scrollbar{
    width: 621px;
  }
  .upload{
    width: 594px;
    height: 69px;
    padding: 4px 0 3px 0;
    background: url(../images/bg-upload.gif) no-repeat left top;
    .element{
      padding: 0 10px 0 5px;
      float: left;
    }
    p{
      float: left;
      line-height: 63px;
      margin-top: 0;
    }
    p.fltrt {
      float: right;
      line-height: 55px;
      padding: 5px 0 0 0;
      a {
          padding:0 15px 0 12px;
          height:56px;
          float:left;
          color:#5d5d5d;
          background:url(../images/bg-organize-list-devider.gif) repeat-y right top;
      }
    }
  }
  
  
}
.video-format{
  clear: both;
  overflow: hidden;
  text-align: center;
  padding: 15px 0;
  img{
    margin: 0 15px;
  }
  
}