$pink-color             : #ec5f89;
$blue-color             : #5b6f7b;
$grey-color             : #757575;

$font-color             : #6A6A6A;
$link-color             : $blue-color ;
$error-color            : #de4343;
$input-text-color       : #7C7C7C;

$default-border-color   : #e1e1e1;

$blueprint-grid-columns : 24;
$blueprint-grid-width   : 30px;
$blueprint-grid-margin  : 10px;


$default-box-shadow-color: #ffffff;
$default-box-shadow-blur: 1px;

//Text-shadow
$default-text-shadow-color: rgba(#f1f1f1, 1);
$default-text-shadow-blur : 1px;

$font-family-primary: Calibre, Arial, Helvetica, sans-serif;
$font-family-secondary: 'LeagueGothicRegular', Helvetica;