<%= form_for(@image) do |f| %>
<div  id="edit_image">
	<section class="fancybox">
		<header>
			<h1 class="icon_link edit_link"><strong>Edit</strong> your thumbnail</h1>
		</header>
		<div class="content">
			<div class="left_col">
					<figure id="image_editor" class="iviewer">
					
					</figure>
			</div>
			<div class="right_col">
				<p class="description">Drag your image to adjust</p>
				<div>
					<%= f.check_box :scale_to_fit %>
					<%= f.label :scale_to_fit %>
			</div>
		</div>
		<footer class="clearfix">
			<a class="btn-1" href="#" id="submit" >
				<span><strong>Save</strong></span>
			</a>
			<a class="btn-2 cancel" href="#" id="cancel" >
				<span><strong>Cancel</strong></span>
			</a>
		</footer>
	</section>
</div>
<%= iviewer("#image_editor", @image.edit_url, "#image_scale_to_fit",  @image.to_json(:include => :display_format).html_safe)  %> 
<% end %>
