<div  id="edit_image">
	<section class="fancybox">
		<header>
			<h1 class="icon_link edit_link">Edit your thumbnail</h1>
		</header>
		<div class="content">
			<div class="left_col">
					<figure id="image_editor" class="iviewer">
					
					</figure>
			</div>
			<div class="right_col">
				<p class="description">Drag your image to adjust</p>
				<div>
					<%= check_box_tag 'scale_to_fit', 1, @image.thumb_format.scale_to_fit? %>
					<%= label_tag 'scale_to_fit'%>
			</div>
		</div>
		<footer>
			<a class="btn" href="#" id="submit" >Submit</a>
			<a class="btn cancel" href="#" id="cancel" >Cancel</a>
		</footer>
		
	</section>
</div>
<%= iviewer "#image_editor", @image.image.url(:editable_thumb), "#scale_to_fit", @image.thumb_format.to_json.html_safe  %>
